@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --branco: #FFFFFF;
    --brancoescuro: #e4e1e143;
    --azulmarinho: #151C3A;
    --azul: #4258FF;
    --font1: "Source Sans 3", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--brancoescuro);
    height: 100%;
}
h1{
    font-family: var(--font1);
    font-weight: bolder;
    font-size: 2.8em;
    color: var(--azulmarinho);
    text-align: center;
    margin: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.300);
}
h2{
    font-family: var(--font1);
    font-weight: bolder;
    font-size: 2em;
    color: var(--azulmarinho);
    text-align: center;
    margin: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.300);
}
.hbranco{
    font-family: var(--font1);
    font-weight: bolder;
    font-size: 1.8em;
    color: var(--branco);
    text-align: center;
    margin: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
p{
    font-family: var(--font1);
    font-weight: normal;
    font-size: 1.5em;
    color: var(--azulmarinho);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.130);
}
.pbranco{
    font-family: var(--font1);
    font-weight: normal;
    font-size: 1.5em;
    color: var(--branco);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.130);
    width: 60vw;
}
#navbar{
    background-color: var(--branco);
    height: 13vh;
    width: 100vw;
}
.logo{
    width: 75px;
    border-radius: 10px;
}
.container-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    
}
nav{
    background-color: var(--branco);
    height: 8vh;
    background-color: var(--branco);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-a{
    font-family: var(--font1);
    font-weight: normal;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--azulmarinho);
    padding: 20px;
}
.nav-a:hover{
    color: var(--azul);
    transition-delay: 50ms;
}
#nav-avatar{
    width: 50px
}
#calltoaction{
    background-color: var(--branco);
    border-radius: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2.5px solid var(--azul);
    box-shadow: 0px 0px 10px rgba(0, 8, 255, 0.364);
    color: var(--azul);
}
#calltoaction:hover{
    color: var(--branco);
    background-color: var(--azul);
    box-shadow: none;
}
#div1{
    height: 85vh;
    width: 100vw;
    background-color: var(--branco);
    padding-top: 1vh;
}
#id-base{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
#avatar{
    margin: auto;
}
#redes-sociais-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
#avatar{
    margin-bottom: 25px;
}
/*redes sociais*/
.redes-sociais{
    width: 30px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#redes-sociais{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50%


}
/*hover das redes sociais*/
#linkedin2:hover #linkedin3 {
    
    background: url(imagens/linkedin-box-fill\ \(1\).svg) no-repeat center center, var(--azul);
    border: 2.5px solid var(--azul);
    box-shadow: 0px 0px 40px rgba(0, 8, 255, 0.658);
}
#linkedin3{
    width: 36px;
    height: 36px;
    background: url(imagens/linkedin-black.svg) no-repeat center center;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.72);
    padding: 10px;
}
#linkedin3:hover{
    background: url(imagens/linkedin-black.svg) no-repeat center center;
}


#instagram2:hover #instagram3 {
    background: url(imagens/instagram-fill.svg) no-repeat center center, var(--azul);
    border: 2.5px solid var(--azul);
    box-shadow: 0px 0px 40px rgba(0, 8, 255, 0.658);
    
}
#instagram3{
    width: 36px;
    height: 36px;    
    background: url(imagens/instagram-black.svg) no-repeat center center;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.72);
    padding: 10px;
}
#instagram3:hover{
    background: url(imagens/github-black.svg) no-repeat center center;
    
}
#github2:hover #github3 {
    background: url(imagens/github-fill.svg) no-repeat center center, var(--azul);
    border: 2.5px solid var(--azul);
    box-shadow: 0px 0px 40px rgba(0, 8, 255, 0.658);
}
#github3{
    width: 36px;
    height: 36px;
    background: url(imagens/github-black.svg) no-repeat center center;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.72);
    padding: 10px;
}
#github3:hover{
    background: url(imagens/github-36.png) no-repeat center center;
}
#linkedin2, #instagram2, #github2{
    margin-left: 10px;
}
/*redes sociais*/
#mouseicon{
    position: relative;
    width: 30px;
    height: 50px;
    border: 2px solid gray;
    border-radius: 50px;
    margin-top: 10px;
}
#mouseicon::after{
    position: absolute;
    top: 13.5px;
    width: 8px;
    height: 12px;
    content: '';
    background-color: gray;
    left: calc(50% - 4.5px);
    border-radius: 10px;
    animation: mouse 2.5s infinite;
}
@keyframes mouse{
    0%{
        opacity: 1;
        top: 5px;
    }
    100%{
        opacity: 0;
        top: 20px;
    }
}
/*
#separador{ *diagonal separator
    width: 0;
    height: 0;
    border-right: 99vw solid transparent;
    border-bottom: 3vw solid var(--azul);
    margin-top: -3vw;
}
*/

#div2{
    background-color: var(--azul);
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-quemsou{
    background-color: var(--azul);
    border-radius: 10px;
    color: var(--branco);
    margin-bottom: 130px;
}
.logo{
    width: 40px;
    border-radius: 40px;
    padding: 5px;
    margin: 15px;
}
#section-logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1.5px solid gray;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.317) inset;
}
.div3{
    height: 20vh;
 
}
#section-logos{
    background-color: var(--branco);
    width: 80vw;
    height: 10vh;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: -3.5rem; 
}
.div3{
    height: 100vh;
    width: 100vw;
    background-color: red;
}
#div4{
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    align-items: center;

}
.projetos{
    width: 300px;
    height: 200px;
    background-color: red;
    border-radius: 5px;
}
















